[submodule "app/Middlewares/Third_Party/STM32F3xx_FreeRTOS_ModbusRTU_RS485"]
	path = app/Middlewares/Third_Party/STM32F3xx_FreeRTOS_ModbusRTU_RS485
	url = git@github.com:DoHelloWorld/STM32F3xx_FreeRTOS_ModbusRTU_RS485.git
[submodule "app/Middlewares/Third_Party/tinyfsm"]
	path = app/Middlewares/Third_Party/tinyfsm
	url = git@github.com:digint/tinyfsm.git
[submodule "app/Middlewares/Third_Party/stm32f3_Modbus_Slave_UART-DMA-FreeRTOS"]
	path = app/Middlewares/Third_Party/stm32f3_Modbus_Slave_UART-DMA-FreeRTOS
	url = git@github.com:DoHelloWorld/stm32f3_Modbus_Slave_UART-DMA-FreeRTOS.git
[submodule "app/Middlewares/Third_Party/SX1278"]
	path = app/Middlewares/Third_Party/SX1278
	url = git@github.com:andvalb/SX1278.git
